.home-row-wrapper {
  height: 100%;
  max-width: 100%;
  margin: 0px !important;
}

.home-title-wrapper {
  color: black;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-description-wrapper {
  color: white;
  background-color: #8DA1B9;
  display: flex;
  justify-content: center;
  align-items: center;
}