.notFound-row-wrapper {
  height: 100%;
  max-width: 100%;
}

.notFound-title-wrapper {
  color: white;
  background-color: #7E8D85;
  display: flex;
  justify-content: center;
  align-items: center;
}

.notFound-description-wrapper {
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
