.works-row-wrapper {
  height: 100%;
}

.works-title-wrapper {
  color: white;
  background-color: #95ADB6;
  // display: flex;
  // justify-content: center;
  // align-items: center;
}

.works-description-wrapper {
  color: black;
  background-color: white;
  // display: flex;
  // justify-content: center;
  // align-items: center;
}
