.works-row-wrapper {
  height: 100%;
  max-width: 100%;
}

.works-title-wrapper {
  color: white;
  background-color: #95ADB6;
  // display: flex;
  // justify-content: center;
  // align-items: center;
}

.works-description-wrapper {
  color: black;
  background-color: white;
  // display: flex;
  // justify-content: center;
  // align-items: center;
}

.arrow-link {
  margin-top: 15px;
  margin-left: 20px;
  transition-duration: .5s;
  display: none;
}

.arrow-link:hover {
  color: #CBB3BF;
  transition-duration: .5s;
}

@media (max-width:990px) {
  .arrow-link {
    display: block;
  }
}
